<footer class="pt-10">
    <div class="w-full max-w-xl mx-auto p-4 md:p-8">
        <a href="localhost:4321/">
            <img class="w-24" src="/logoSinFondo.png" alt="sensia logo">
        </a>
        <nav>
            <ul>
                <li>
                    <a
                    class="hover:underline hover:text-brown-300 transition me-4 md:me-6" 
                    href="/Privacidad">Privacidad</a>
                </li>
                <li>
                    <a 
                    class="hover:underline hover:text-brown-300 transition me-4 md:me-6"
                    href="/AvisoLegal">Aviso Legal</a>
                </li>
                <li>
                    <a 
                    class="hover:underline hover:text-brown-300 transition me-4 md:me-6" 
                    href="/PoliticaDeCookies">Política de Cookies</a>
                </li>
            </ul>
        </nav>
        <div>
            <small> Grupo Senseia SL. · <a 
                href="senseiagrupo@gmail.com">senseiagrupo@gmail.com</a>
            </small>
        </div>
    </div>
</footer>
